<!--申请新计划-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{/css/other.css}"/>
    <title>Ticket - 场馆 - 发布活动</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="info.html" th:href="@{info}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="info.html" th:href="@{info}">场馆信息</a></li>

                <li ><a href="plansShow.html" th:href="@{plansShow}">活动一览</a></li>

                <li class="active"><a href="addPlan.html" th:href="@{addPlan}">发布活动</a></li>

                <li><a href="buyOffline.html" th:href="@{buyOffline}">现场购票</a></li>

                <li><a href="statistics.html" th:href="@{statistics}">数据统计</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome,  <span th:text="${siteName}"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../site/login.html" th:href="@{/site/logout}">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">

    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">发布新活动</div>


        <div class="table-responsive ">
            <table id="roomTable" class="table table-hover">
                <tr>
                    <th>活动ID</th>
                    <th>活动描述</th>
                    <th>活动类型</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>豪华座价格</th>
                    <th>高等座价格</th>
                    <th>普通座价格</th>
                    <!--<th>审核状态</th>-->
                </tr>

                <tr th:each="plan : ${plans}"   >
                    <td th:text="${#numbers.formatInteger(plan.planID,7)}">0000001</td>
                    <td th:text="${plan.description}">no description</td>
                    <td th:text="${plan.planType}">type</td>
                    <td th:text="${#dates.format(new java.util.Date(plan.beginTime),'yyyy-MM-dd')}"> beginTime</td>
                    <td th:text="${#dates.format(new java.util.Date(plan.endTime),'yyyy-MM-dd')}"> endTime</td>
                    <td th:text="${plan.original_price_A}"> 9999</td>
                    <td th:text="${plan.original_price_B}"> 8000</td>
                    <td th:text="${plan.original_price_C}"> 5000</td>
                    <!--<td th:if="${plan.state==0}" th:text = "审核中">-->
                        <!--审核中-->
                    <!--</td>-->
                    <!--<td th:if="${plan.state==1}" th:text = "通过">-->
                        <!--通过-->
                    <!--</td>-->
                    <!--<td th:if="${plan.state==2}" th:text = "拒绝">-->
                        <!--拒绝-->
                    <!--</td>-->
                </tr>
            </table>
        </div>


    </div>
    <div>
        <a href="javascript:" class="btn btn-primary my-pop-1">发布新活动</a>
    </div>

</div>

<div class="cd-user-modal cd-user-modal-1">
    <div class="cd-user-modal-container">


        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">活动发布</div>

            <form class="form-horizontal" action="addPlan.html">

                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">活动名称</label>
                    <div class="col-sm-10">
                        <input type="url" class="form-control" name="description" id="description" placeholder=" "/>
                    </div>
                </div>

                    <div class="form-group">
                        <label for="planType" class="col-sm-2 control-label">活动类型</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="planType" id="planType" placeholder="音乐剧?"/>
                        </div>
                </div>

                <div class="form-group">
                    <label for="beginTime" class="col-sm-2 control-label">开始时间</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="beginTime" id="beginTime"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="endTime" class="col-sm-2 control-label">结束时间</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" name="endTime" id="endTime"/>
                    </div>
                </div>


                <div class="form-group">
                    <label for="price_a" class="col-sm-2 control-label">豪华座价格</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="price_a" id="price_a" placeholder=" "/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price_b" class="col-sm-2 control-label">高级座价格</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="price_b" id="price_b" placeholder=" "/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="price_c" class="col-sm-2 control-label">普通座价格</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="price_c" id="price_c" placeholder=" "/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10   col-md-4">
                        <button type="submit" class=" btn btn-primary modal-apply">提交</button>
                        <a href="#" class="btn btn-danger modal-cancel">取消</a>

                    </div>

                </div>
            </form>
        </div>

    </div>

</div>


<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/npm.js" th:src="@{/js/npm.js}"></script>
<script src="../../static/js/promptForm.js" th:src="@{/js/promptForm.js}"></script>
<script th:inline="javascript">
    $('.modal-apply').on('click', function (e) {

        e.preventDefault();
        var $form_modal = $('.cd-user-modal-1');

        var form = $(this).parent().parent().parent();

        var description = form.find('input[name="description"]').val() ;
        var planType = form.find('input[name="planType"]').val();
        var beginTime = form.find('input[name="beginTime"]').val();
        var endTime = form.find('input[name="endTime"]').val();
        var price_a = form.find('input[name="price_a"]').val();
        var price_b = form.find('input[name="price_b"]').val();
        var price_c = form.find('input[name="price_c"]').val();

        // var action = form.find('input[name="action"]').val();
        // var time = form.find('input[name="time"]').val();
        // var wifi = form.find('input[name="wifi"]').val() === 'on';


        // var inputs = {time: time, wifi: wifi, picUrl: picUrl, area: area, type: type, price: price, number: number};
        var inputs = {
            description:description,
            planType : planType ,
            beginTime : beginTime ,
            endTime : endTime ,
            price_a : price_a ,
            price_b : price_b ,
            price_c : price_c
        };
        console.log(inputs);

        var $table = $('.table-responsive');

        $.ajax({
            type: "POST",
            url: '/site/applyPlan',
            data: inputs,
            dataType: 'json',
            success: function (data) {
                console.log($table);
                console.log(data.length);
//                $form_modal.removeClass('is-visible');
//                $table.load(data);
                location.reload();
            }
        });
    });
</script>
</body>
</html>