<!--现场购票-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{/css/other.css}"/>
    <title>现场购票</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{info}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="info.html" th:href="@{info}">场馆信息</a></li>

                <li><a href="plansShow.html" th:href="@{plansShow}">活动一览</a></li>

                <li><a href="addPlan.html" th:href="@{addPlan}">申请活动</a></li>

                <li class="active"><a href="buyOffline.html" th:href="@{buyOffline}">现场购票</a></li>

                <li><a href="statistics.html" th:href="@{statistics}">数据统计</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome,<span class="caret" th:text="${siteID}"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{../logout}">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">

    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">场馆线下购票记录</div>


        <div class="table-responsive ">
            <table id="roomTable" class="table table-hover">
                <tr>
                    <th>票据ID</th>
                    <th>场馆ID</th>
                    <th>活动ID</th>
                    <th>是否会员</th>

                    <th>购票时间</th>
                    <th>座位号</th>
                    <th>价格</th>
                    <th>支付方式</th>
                    <th>订单状态</th>
                    <th>积分变化</th>
                    <th>可选项</th>
                </tr>

                <tr th:each="one : ${siteTR}">
                    <td th:text="${#numbers.formatInteger(one.recordID,7)}">000001</td>
                    <td th:text="${#numbers.formatInteger(one.siteID,7)}">000001</td>
                    <td th:text="${#numbers.formatInteger(one.planID,7)}">000001</td>
                    <td th:if="${one.userID>0}" th:text ="${#numbers.formatInteger(one.userID,7)}">
                        000001
                    </td>
                    <td th:if="${one.userID<0}" th:text ="非会员">
                        null
                    </td>
                    <!--<td th:text="${#numbers.formatInteger(one.userID,7)}">000001</td>-->
                    <td th:text="${one.createTime}">
                        2018-3-19 13:48:28
                    </td>
                    <td th:text="${one.seatNumber}">A03</td>
                    <td th:text="${one.price}">150.0</td>

                    <td th:if="${one.payType==-1}" th:text =  "未支付">
                        未支付
                    </td>
                    <td th:if="${one.payType==0}" th:text = "现金">
                        现金
                    </td>
                    <td th:if="${one.payType==1}" th:text = "余额">
                        余额
                    </td>
                    <td th:if="${one.payType==2}" th:text = "支付宝">
                        支付宝
                    </td>



                    <td th:if="${one.isValid==0}" th:text = "等待支付">
                        等待支付
                    </td>

                    <td th:if="${one.isValid==1}" th:text = "生效">
                        生效
                    </td>

                    <td th:if="${one.isValid==2}" th:text = "已撤销">
                        已撤销
                    </td>
                    <td th:if="${one.isValid==4}" th:text = "已检票">
                        已检票
                    </td>


                    <td th:text="${one.creditAdd}">0</td>
                    <td>
                        <a type="button" th:if="${one.isValid==1}"
                           class="cancelButton" data-toggle="modal" th:name="${one.recordID}"
                           data-target="#cancelModal">退订
                        </a>
                    </td>
                </tr>

            </table>
        </div>


    </div>
    <div>
        <a href="javascript:" class="btn btn-primary my-pop-1">新订单</a>
    </div>

</div>


<!--取消-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">退订</h4>
            </div>
            <form class="form-horizontal" >
                <div class="modal-body">


                    <div class="form-group text-danger">
                        <p class="col-md-offset-2">确认取消这张票并退款吗？此操作不能撤销！</p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" id="goCancel" class="btn btn-danger delete" data-dismiss="modal">确定</button>
                </div>

            </form>

            <div class="err-msg"></div>
        </div>

    </div>

</div>

<div class="cd-user-modal cd-user-modal-1">
    <div class="cd-user-modal-container">


        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">新订单</div>
            <form class="form-horizontal" action="index.html">
                <!--<div class="form-group">-->

                    <!--<label for="inOrOut" class="col-sm-2 control-label">是否选座购票</label>-->
                    <!--<div class="col-sm-10">-->
                        <!--<select id="inOrOut" class="form-control">-->
                            <!--<option value="0">In Record</option>-->
                            <!--<option value="1">Out Record</option>-->
                        <!--</select>-->
                    <!--</div>-->

                <!--</div>-->
                <div class="form-group">
                    <label for="planID" class="col-sm-2 control-label">活动ID</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="planID" id="planID"
                               placeholder=" "/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="isMember" class="col-sm-2 control-label">是否会员</label>
                    <div class="col-sm-10">
                        <select id="isMember" class="form-control">
                            <option value="1">是会员</option>
                            <option value="0">不是会员</option>
                        </select>
                    </div>
                </div>

                <div id="inRecord">
                    <div id="memberIDDiv">
                        <div class="form-group">
                            <label for="memberID" class="col-sm-2 control-label">会员ID</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="memberID" id="memberID"
                                       placeholder="Member ID"/>
                            </div>
                        </div>

                        <div id="discountGroup" class="form-group">
                            <label for="discount" class="col-sm-2 control-label ">Discount</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="discount" id="discount"
                                       disabled="disabled"/>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                            <!--<label for="hasReserved" class="col-sm-2 control-label">Has Reserved</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<select id="hasReserved" class="form-control">-->
                                    <!--<option value="true">Reserved</option>-->
                                    <!--<option value="false">Not reserved</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="form-group" id="showMemberId">
                        <label for="payMethod" class="col-sm-2 control-label">支付手段</label>
                        <div class="col-sm-10">
                            <select name="payMethod" id="payMethod" class="form-control" disabled="disabled">
                                <!--add in javascript-->
                                <!--<option value="0">Member Card</option>-->
                                <option value="1">现金</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="seatA" class="col-sm-2 control-label">豪华座购买数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="seatA" id="seatA"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="seatB" class="col-sm-2 control-label">高级座购买数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="seatB" id="seatB"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="seatC" class="col-sm-2 control-label">普通座购买数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="seatC" id="seatC"/>
                        </div>
                    </div>



                </div>
                <!---->
                <!--<div id="outRecord">-->
                    <!--<div class="form-group">-->
                        <!--<label for="recordId" class="col-sm-2 control-label">Record ID</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="text" class="form-control" name="recordId" id="recordId"-->
                                   <!--placeholder="Record ID"/>-->
                        <!--</div>-->
                    <!--</div>-->

                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10   col-md-4">
                        <button type="submit" class=" btn btn-primary modal-apply">提交</button>
                        <a href="#" class="btn btn-danger modal-cancel">取消</a>

                    </div>

                </div>
                <div class="err-msg"></div>
            </form>
        </div>

    </div>

</div>

<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/promptForm.js" th:src="@{/js/promptForm.js}"></script>
<script th:inline="javascript">
    <!---->

   $('#discountGroup').hide();

   $('.modal-apply').on('click', function (e) {
       e.preventDefault();
       var $form = $(this).parent().parent().parent();


       // var inOrOut = $("#inOrOut").find("option:selected").val();
       // var personNum = $form.find('input[name="personNum"]').val();
       var planID = $form.find('input[name="planID"]').val();
       var isMember = $("#isMember").find("option:selected").val();
       // var payMethod = $form.find('select[name="payMethod"]').val();
       var memberID = $form.find('input[name="memberID"]').val();
       var seatA = $form.find('input[name="seatA"]').val();
       var seatB = $form.find('input[name="seatB"]').val();
       var seatC = $form.find('input[name="seatC"]').val();


       if (memberID == '') {
           memberID = '-1';
       }

       var inputs = {
           planID : planID ,
           memberID: memberID,
           seatA :seatA ,
           seatB :seatB ,
           seatC :seatC
       };

       $.ajax({
           type: "POST",
           url: '/site/doBuyOffline',
           data: inputs,
           dataType: 'json',
           success: function (data) {
//                   console.log(data);
               if (data.result) {
                   location.reload();
               } else {
                   var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>'
                   $(".err-msg").html(error_msg);
               }
           }
       });

       console.log(inputs);

   });


    var $cancelButton = $('.cancelButton');
    var $cancel = $('#goCancel');
    var recordToCancel = 0;
    var inp = [] ;
    //页面上的'退订'链接
    $cancelButton.on('click' , function () {
        recordToCancel = $(this).attr('name');
    });

    //点击'确定退款'
    $cancel.on('click' , function () {
        inp = {recordToCancel:recordToCancel};
        url = '/member/cancel';
        console.log(inp) ;
        callAjax(inp,url);
    });
    function callAjax(inputs, url) {
        $.ajax({
            type: "POST",
            url: url,
            data: inp,
            dataType: 'json',
            success: function (data) {
                if(data.result>=0)
                    location.href = "/site/buyOffline" ;
                else
                    alert("操作失败.错误码:"+data.result);
            }
        });
    }

    $("#isMember").change(function () {
       var $selected = $("#isMember").find("option:selected");
//        console.log($selected.val());
       if ($selected.val() === '1') {
           $('#memberIDDiv').fadeIn();
           $("#payMethod").append('<option value="0">Member Card</option>');
       } else {
           $('#memberIDDiv').fadeOut();
           $("#payMethod").find('option[value="0"]').remove();

       }

   }).change();


</script>
</body>
</html>