<!--数据统计-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <script src="../../static/js/echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
    <title>Ticket - 场馆 - 统计</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="info.html" th:href="@{info}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="info.html" th:href="@{info}">场馆信息</a></li>

                <li><a href="plansShow.html" th:href="@{plansShow}">活动一览</a></li>

                <li><a href="addPlan.html" th:href="@{addPlan}">发布活动</a></li>

                <li><a href="buyOffline.html" th:href="@{buyOffline}">现场购票</a></li>

                <li  class="active"><a href="statistics.html" th:href="@{statistics}">数据统计</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome, <span th:text="${siteName}"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../site/login.html" th:href="@{/site/logout}">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">

    <h2> 近期场馆预订数</h2>
    <div id="reserved" style="width: 600px;height:400px;"></div>

    <h2> 近期场馆退订数</h2>
    <div id="cancel" style="width: 600px;height:400px;"></div>

    <h2> 支付手段占比</h2>
    <div id="consumption" style="width: 600px;height:400px;"></div>
    <div class="err-msg"></div>
</div>



<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:inline="javascript">

    var reservedChart = echarts.init(document.getElementById('reserved'));
//    var liveChart = echarts.init(document.getElementById('live'));
    var cancelChart = echarts.init(document.getElementById('cancel'));
    var consumptionChart = echarts.init(document.getElementById('consumption'));

    var newData = {};
    // 指定图表的配置项和数据
    var reservedOption = {
        title: {
            text: '预订数'
        },
        tooltip: {},

        xAxis: {
            data: ["3-25","3-26","3-27","3-28","3-29","3-30"]
        },
        yAxis: {
            name: 'Number'
        },
        series: [{
            name: '预订数',
            type: 'bar',
            data: [5, 20,20, 10, 10, 20]
        }]
    };
    reservedChart.setOption(reservedOption);

    $.ajax({
        url: '/site/recentIncome',
        data: '',
        dataType: 'json',
        success: function (data) {
            console.log(data);
            if (data.result) {
                newData = data.data;
                reservedOption.xAxis.data = Object.keys(newData);
                reservedOption.series[0].data = Object.keys(newData).map(function(k) { return newData[k] });
                console.log(reservedOption);

            } else {
                var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>';
                reservedOption.xAxis.data = [];
                reservedOption.series[0].data =[];
                $(".err-msg").html(error_msg);
            }
            reservedChart.setOption(reservedOption);
        }

    });


    var cancelOption = {
        title: {
            text: '退订数'
        },
        tooltip: {},

        xAxis: {
            data: ["3-25","3-26","3-27","3-28","3-29","3-30"]
        },
        yAxis: {
            name: 'Number'
        },
        series: [{
            name: '退订数',
            type: 'bar',
            data: [5, 20,20, 10, 10, 20]
        }]
    };
    cancelChart.setOption(cancelOption);

    $.ajax({
        url: '/site/cancelStatistics',
        data: '',
        dataType: 'json',
        success: function (data) {
            console.log(data);
            if (data.result) {
                newData = data.data;
                cancelOption.xAxis.data = Object.keys(newData);
                cancelOption.series[0].data = Object.keys(newData).map(function(k) { return newData[k] });
                console.log(cancelOption);
            } else {
                cancelOption.xAxis.data = [];
                cancelOption.series[0].data = [];
                var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>';
                $(".err-msg").html(error_msg);
            }
            cancelChart.setOption(cancelOption);
        }

    });




    var consumptionOption = {
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            x: 'left',
            data:['balance','cash','alipay']
        },
        series: [
            {
                name:'Num of type',
                type:'pie',
                radius: ['50%', '70%'],
                avoidLabelOverlap: false,
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data:[
                    {value:335, name:'balance'},
                    {value:310, name:'cash'},
                    {value:234, name:'alipay'}
                ]
            }
        ]
    };

    consumptionChart.setOption(consumptionOption);
    $.ajax({
        url: '/site/consumption',
        data: '',
        dataType: 'json',
        success: function (data) {
            console.log(data);
            if (data.result) {
                newData = data.data;
                consumptionOption.series[0]['data'] = [];
                for ( var temp in newData) {
                    obj = {value : newData[temp] , name: temp};
                    consumptionOption.series[0]['data'].push(obj);
                }

                console.log(consumptionOption);
            } else {
                consumptionOption.series[0]['data'] = [];
                var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>';
                $(".err-msg").html(error_msg);
            }
            consumptionChart.setOption(consumptionOption);
        }

    });


</script>
</body>
</html>