<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <title>Ticket - 经理 - 审批</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Ticket</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a class="" href="index.html" th:href="@{index}">审批
                    <span class="badge" th:if="${num>0}" th:text="${num}"></span><span
                        class="sr-only">(current)</span></a></li>
                <li><a href="settlement.html" th:href="@{settlement}">结算</a></li>
                <li><a href="statistics.html" th:href="@{statistics}" >统计</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="../manager/index.html" th:href="@{/manager/logout}">登出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="mainpage">

    <div id="openTable">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">场馆上线申请</div>
            <div class="table-responsive ">
                <table class="table table-hover" >
                    <tr>
                        <th>选择</th>
                        <th>上线申请ID</th>
                        <th>场馆ID</th>
                        <th>详情</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>

                    <tr th:each="open : ${opens}"
                        th:class="(${open.state == 0}) ? 'info' :  ((${open.state == 1}) ? 'success' :  'danger')">

                        <td><input th:if="${open.state==0}" title="order" type="checkbox" th:name="${open.oaID}"/></td>
                        <td th:text="${#numbers.formatInteger(open.oaID,7)}">0000001</td>
                        <td th:text="${#numbers.formatInteger(open.siteID,7)}">0000001</td>

                        <td th:text="${open.reason}">Shanghai Hotel: open !</td>


                        <td th:text="(${open.state == 0}) ? '审核中' :  ((${open.state == 1}) ? '通过' :  '拒绝')">
                            2016-3-18 22:25:25
                        </td>
                        <td>
                            <!--TODO 已通过时让其无法点击-->
                            <a  class="btn-primary operation" name="singleApprove"><span
                                    class="glyphicon glyphicon-ok"
                                    aria-hidden="true"></span></a>
                            <a  class="btn-danger operation" name="singleDeny"><span
                                    class="glyphicon glyphicon-remove"
                                    aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
        <div class="btn-group">
            <a href="javascript:" type="button" class="btn btn-primary operation" name="approve">批量通过</a>
            <a href="#" type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:" class="operation" name="deny">拒绝</a></li>
            </ul>
        </div>
    </div><!-- End of The first open application part -->
    <div id="editTable" style="margin-top: 20px">
        <div class="panel panel-info" >
            <div class="panel-heading">场馆信息修改申请</div>
            <div class="table-responsive ">
                <table class="table table-hover"  >
                    <tr>
                        <th>选择</th>
                        <th>修改申请ID</th>
                        <th>场馆ID</th>
                        <th>新名称</th>
                        <th>新地址</th>
                        <th>新豪华座位数</th>
                        <th>新高级座位数</th>
                        <th>新普通座位数</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr th:each="edit : ${edits}"
                        th:class="(${edit.state == 0}) ? 'info' :  ((${edit.state == 1}) ? 'success' :  'danger')">
                        <td><input th:if="${edit.state==0}" title="order" type="checkbox" th:name="${edit.eaID}"/></td>
                        <td th:text="${#numbers.formatInteger(edit.eaID,7)}">0000001</td>
                        <td th:text="${#numbers.formatInteger(edit.siteID,7)}">0000002</td>
                        <td th:text="${edit.newName}">ohaiyo</td>
                        <td th:text="${edit.newAdd}">LA</td>
                        <td th:text="${edit.num_a}">20</td>
                        <td th:text="${edit.num_b}">20</td>
                        <td th:text="${edit.num_c}">20</td>
                        <td th:text="(${edit.state == 0}) ? '审核中' :  ((${edit.state == 1}) ? '通过' :  '拒绝')">
                            2016-3-18 22:25:25
                        </td>
                        <!--<td><a href="javascript:" id="detail">For Detail</a></td>-->
                        <td>
                            <a  class="btn-primary operation editTable" name="singleApprove"><span
                                    class="glyphicon glyphicon-ok"
                                    aria-hidden="true"></span></a>
                            <a  class="btn-danger operation editTable" name="singleDeny"><span
                                    class="glyphicon glyphicon-remove"
                                    aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </table>
            </div>


        </div>
        <!--TODO Add the comparision of old and new hotel -->
        <div class="btn-group">
            <a href="javascript:" type="button" class="btn btn-primary operation editTable" name="approve">批量通过</a>
            <a href="#" type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="javascript:" class="operation editTable" name="deny">拒绝</a></li>
            </ul>
        </div>
    </div>
    <!--TODO Add some hints-->
    <div class="alert alert-danger invisible" role="alert"></div>
</div>



<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/npm.js" th:src="@{/js/npm.js}"></script>
<script src="../../static/js/promptForm.js" th:src="@{/js/promptForm.js}"></script>
<script th:inline="javascript">
    $('.operation').on('click', function (e) {
        e.preventDefault();
        var source = $(this).attr('name');
        var isSingle = true;
        var isApprove = true;
        var openOrModify = true;
        console.log($(this).attr('class'));
        if ($(this).attr('class').includes('editTable')) {
            openOrModify = false;
        }
        switch (source) {
            case 'approve':
                isSingle = false;
                isApprove = true;
                break;
            case 'deny' :
                isSingle = false;
                isApprove = false;
                break;
            case 'singleApprove':
                isSingle = true;
                isApprove = true;
                break;
            case 'singleDeny' :
                isSingle = true;
                isApprove = false;
                break;
            default:
                break;
        }

        var operationArray = [];
        if (isSingle) {
            operationArray.push($(this).parent().parent().find('input[type="checkbox"]').attr('name'));
        } else {

            if(!openOrModify){
                var checkList = $("#editTable").find('input[type="checkbox"]:checked');
            } else {
                var checkList = $("#openTable").find('input[type="checkbox"]:checked');
            }

            checkList.each(function () {
                operationArray.push($(this).attr('name'));
            });

        }

        if (operationArray.length == 0) {
            var error_msg = '<p class="errtip">	<strong>失败</strong>：' + '没有选中任何行' + '</p>';
            $(".alert-danger").html(error_msg).removeClass("invisible");
            return;
        }

        console.log('is SIngle ' + isSingle);
        var inputs = {isApprove: isApprove, openOrModify: openOrModify, operationArray: operationArray};
        console.log(inputs);
//        var $table = $('.table-responsive');
        $.ajax({
            type: "POST",
            url: '/manager/approve',
            data: inputs,
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    location.reload();
                } else {
                    var error_msg = '<p class="errtip">	<strong>Error</strong>：' + data.reason + '</p>'
                    $(".alert-danger").html(error_msg).removeClass("invisible");
//                    $(".alert-danger");
                }

            }
        });
    });
</script>
</body>
</html>