<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>-->

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <title>Member Statistics</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{member/index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--th:href里面的是网页url地址-->
                <li><a href="redirect:/site/index.html" th:href="@{/site/index}">Site</a></li>
                <li class="active"><a href="index.html" th:href="@{index}">Records</a></li>
                <li><a href="statistics.html" th:href="@{statistics}">Statistics</a></li>
                <li><a href="profile.html" th:href="@{profile}">Profile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome, Gakki <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{../logout}">Sign out</a></li>
                        <li><a href="../account/register.html" th:href="@{../register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="mainpage">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    Recent Tickets Records
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="table-responsive ">
                    <table class="table table-hover">
                        <!--标题栏-->
                        <tr>
                            <th>Record ID</th>
                            <th>User ID</th>
                            <th>Site ID</th>
                            <th>Plan ID</th>
                            <th>Seat Type</th>
                            <th>Seat Number</th>
                            <th>Price</th>
                            <th>Create Time</th>
                            <th>is Valid</th>
                            <th>Credit Add</th>
                        </tr>

                        <!--model.attribute : ticket_records-->
                        <!--<tr th:each="reserveMes : ${statistics.reservedVOS}">-->

                        <tr th:each="one : ${ticketrecords}">
                            <td th:text="${#numbers.formatInteger(one.recordID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.userID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.siteID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.planID,7)}">000001</td>
                            <td th:text="${one.seatType}">A</td>
                            <td th:text="${one.seatNumber}">A03</td>
                            <td th:text="${one.price}">150.0</td>
                            <td th:text="${one.createTime}">
                                2018-3-19 13:48:28
                            </td>
                            <td th:text="${one.isValid}">True</td>
                            <td th:text="${one.creditAdd==0?false:true}">True</td>
                            <td>
                                <a href="javascript:" type="button" th:if="${one.isValid==1}"
                                   class="cancelButton" data-toggle="modal" th:name="${one.recordID}"
                                   data-target="#cancelModal">Cancel
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation" class="col-md-offset-10 col-md-4">
        <ul class="pagination pagination-sm">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!--取消-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Account</h4>
            </div>
            <form class="form-horizontal" action="profile.html" th:action="@{/member/edit}" method="post">
                <div class="modal-body">


                    <div class="form-group text-danger">
                        <p class="col-md-offset-2">Are you sure to cancel the reservation? The Operation cannot
                            be undo!</p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger delete">Yes</button>
                </div>

            </form>

            <div class="err-msg"></div>
        </div>

    </div>

</div>


<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var $cancel = $('#cancelModal');
    var $cancelButton = $('.cancelButton');
    var recordToCancel = 0;
    var inputs = [];
    var url = '';
    $cancelButton.on('click' , function () {
        recordToCancel = $(this).attr('name');
    });
    $cancel.on('click' , function () {
        inputs = {recordToCancel:recordToCancel};
        url = '/member/cancelReservation';
        callAjax(inputs,url, false);
    });

    function callAjax(inputs, url, isdelete) {
        $.ajax({
            type: "POST",
            url: url,
            data: inputs,
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    if (isdelete) {
                        //TODO 暴力返回主页，待修改
                        window.location.replace("http://localhost:4000/");
                    } else {
                        location.reload();
                        if (data.reason) {
                            $('.mainpage').append('<div class="alert alert-info alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Great!</strong> ' +data.reason +  ' </div>');
                        }
                    }
                } else {
                    var error_msg = '<p class="errtip">	<strong>Error</strong>：'+data.reason+'</p>'
                    $(".err-msg").html(error_msg);
                }
            }
        });



    }


</script>


</body>
</html>