<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>-->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>-->

    <!--&lt;!&ndash; 最新版本的 Bootstrap 核心 CSS 文件 &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
          <!--crossorigin="anonymous">-->

    <!--&lt;!&ndash; 可选的 Bootstrap 主题文件（一般不用引入） &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
          <!--integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"-->
          <!--crossorigin="anonymous">-->

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <title>Ticket - 会员 - 记录</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--th:href里面的是网页url地址-->
                <li><a href="redirect:/site/index.html" th:href="@{/site/index}">场馆</a></li>
                <li class="active"><a href="index.html" th:href="@{index}">我的订票</a></li>
                <li><a href="profile.html" th:href="@{profile}">个人信息</a></li>

            </ul>



            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome <span th:text="${userID}">Smith</span><span class="caret" ></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../account/index.html" th:href="@{/user/logout}">登出</a></li>
                        <li><a href="../account/register.html" th:href="@{/user/goRegister}">注册</a></li>
                    </ul>
                </li>
            </ul>




        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="mainpage">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                   aria-expanded="true" aria-controls="collapseOne">
                    有效票据
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="table-responsive ">
                    <table class="table table-hover">
                        <!--标题栏-->
                        <tr>
                            <th>票据ID</th>
                            <th>用户ID</th>
                            <th>场馆ID</th>
                            <th>活动ID</th>
                            <!--<th>座位类型</th>-->
                            <th>座位号</th>
                            <th>价格</th>
                            <th>支付方式</th>
                            <th>订票时间</th>
                            <th>票据状态</th>
                            <th>积分变化</th>
                            <th>可选项</th>
                        </tr>

                        <!--model.attribute : ticket_records-->
                        <!--<tr th:each="reserveMes : ${statistics.reservedVOS}">-->

                        <tr th:each="one : ${ticketrecords}">
                            <td th:text="${#numbers.formatInteger(one.recordID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.userID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.siteID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.planID,7)}">000001</td>
                            <!--<td th:text="${one.seatType}">A</td>-->
                            <td th:text="${one.seatNumber}">A03</td>
                            <td th:text="${one.price}">150.0</td>
                            <!--<td>-->
                                <!--<div th:switch="${one.payType}">-->
                                    <!--<p th:case="-1" th:text = "未支付">未支付</p>-->
                                    <!--<p th:case="0" th:text = "现金" >现金</p>-->
                                    <!--<p th:case="1" th:text = "余额" >余额</p>-->
                                    <!--<p th:case="2" >支付宝</p>-->
                                <!--</div>-->
                            <!--</td>-->

                            <td th:if="${one.payType==-1}" th:text =  "未支付">
                                未支付
                            </td>
                            <td th:if="${one.payType==0}" th:text = "现金">
                                现金
                            </td>
                            <td th:if="${one.payType==1}" th:text = "余额">
                                余额
                            </td>
                            <td th:if="${one.payType==2}" th:text = "支付宝">
                                支付宝
                            </td>

                            <td th:text="${one.createTime}">
                                2018-3-19 13:48:28
                            </td>

                            <td th:if="${one.isValid==0}" th:text = "等待支付">
                                等待支付
                            </td>

                            <td th:if="${one.isValid==1}" th:text = "生效">
                                生效
                            </td>

                            <td th:if="${one.isValid==2}" th:text = "已撤销">
                                已撤销
                            </td>

                            <td th:if="${one.isValid==4}" th:text = "已检票">
                                已检票
                            </td>

                            <td th:text="${one.creditAdd}">0</td>
                            <td>
                                <a type="button" th:if="${one.isValid==1}"
                                   class="cancelButton" data-toggle="modal" th:name="${one.recordID}"
                                   data-target="#cancelModal">退订
                                </a>

                                <a type="button"  th:if="${one.isValid==0}"
                                   class="payButton" data-toggle="modal" th:name="${one.recordID}"
                                   data-target="#payModal">
                                    去支付
                                </a>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    消费记录
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                <div class="table-responsive ">
                    <table class="table table-hover">
                        <tr>
                            <th>消费记录ID</th>
                            <th>消费时间</th>
                            <th>描述</th>
                            <th>金额变化</th>
                        </tr>
                        <tr th:each="consume : ${paymessage}" >
                            <!--th:class="(${consume.type == 0}) ? 'success' : ((${consume.type == 1}) ? 'info' : 'danger')">-->
                            <td th:text="${#numbers.formatInteger(consume.payID,7)}">1</td>
                            <td th:text="${consume.time}">
                                2016-3-18 22:25:25
                            </td>
                            <td th:text="${consume.msg}">Consumption</td>
                            <td th:text="${consume.money}">-500.1</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="true" aria-controls="collapseThree">
                    失效记录
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <div class="table-responsive ">
                    <table class="table table-hover">
                        <tr>
                            <th>票据ID</th>
                            <th>用户ID</th>
                            <th>场馆ID</th>
                            <th>活动ID</th>
                            <!--<th>座位类型</th>-->
                            <th>座位号</th>
                            <th>价格</th>
                            <th>订票时间</th>
                            <th>状态</th>
                        </tr>
                        <tr th:each="one : ${invalidtr}">
                            <td th:text="${#numbers.formatInteger(one.recordID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.userID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.siteID,7)}">000001</td>
                            <td th:text="${#numbers.formatInteger(one.planID,7)}">000001</td>
                            <!--<td th:text="${one.seatType}">A</td>-->
                            <td th:text="${one.seatNumber}">A03</td>
                            <td th:text="${one.price}">150.0</td>
                            <td th:text="${one.createTime}">
                                2018-3-19 13:48:28
                            </td>


                            <td th:if="${one.isValid==2}" th:text = "已撤销">
                                已撤销
                            </td>
                            <td th:if="${one.isValid==3}" th:text = "已超时">
                                已超时
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!--取消-->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">退订</h4>
            </div>
            <form class="form-horizontal" >
                <div class="modal-body">


                    <div class="form-group text-danger">
                        <p class="col-md-offset-2">确认取消这张票并退款吗？此操作不能撤销！</p>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="goCancel" class="btn btn-danger delete" data-dismiss="modal">Yes</button>
                </div>

            </form>

            <div class="err-msg"></div>
        </div>

    </div>

</div>


<!--支付-->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">支付手段</h4>
            </div>
            <form class="form-horizontal" >
                <div class="modal-body">
                    <div class="form-group text-danger">
                        <p class="col-md-offset-2">选择一种支付方法:)</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="checkbox" name="useBenefit" id="useBenefit" />使用优惠券
                    <input type="number" name="benefit" value="10" id="benefit"
                           th:max="userInfo.benefit" th:text="${'剩余'+userInfo.benefit+'元'}">
                    <button type="button" class="btn" data-dismiss="modal">关闭</button>
                    <button type="button" id="balance"  class="btn btn-default" data-dismiss="modal">账户余额</button>
                    <button type="button" id="external" class="btn btn-default" data-dismiss="modal">支付宝</button>
                </div>
            </form>

            <div class="err-msg"></div>
        </div>

    </div>

</div>

<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">



    var $cancelButton = $('.cancelButton');
    var $cancel = $('#goCancel');
    var recordToCancel = 0;

    var inputs = [];
    var url = '';

    var $payButton = $('.payButton');
    var $balance = $('#balance');
    var $external = $('#external');
    var recordToBuy = 0;

    var $useBenefit = $('#useBenefit') ;
    var $benefit = $('#benefit');

    //页面上的'退订'链接
    $cancelButton.on('click' , function () {
        recordToCancel = $(this).attr('name');
    });

    //页面上的'支付'链接
    $payButton.on('click' , function () {
        recordToBuy = $(this).attr('name');
    });

    //点击'确定退款'
    $cancel.on('click' , function () {
        inputs = {recordToCancel:recordToCancel};
        url = '/member/cancel';
        callAjax(inputs,url);
    });

    //点击'余额付款'
    $balance.on('click',function () {
        var be = 0 ;
        if($useBenefit.prop("checked")) {
            be = document.getElementById("benefit").value; //$benefit.attr('value');
        }
        if(be<[[${userInfo.benefit}]]) {
            inputs = {recordID: recordToBuy, benefit: be};
            url = '/payment/payByBalance';
            callBalance(inputs, url);
        } else {
            alert("优惠券不足!");
        }
    });

    //点击'支付宝'
    $external.on('click',function () {
        var be = 0 ;
        if($useBenefit.prop("checked")) {
            be = document.getElementById("benefit").value; //$benefit.attr('value');
        }
        if(be<[[${userInfo.benefit}]]) {
            inputs = {recordID: recordToBuy, benefit: be};
            url = '/payment/goPayByExternalAccount?recordID=' + recordToBuy;
            location.href = url;
        } else {
            alert("优惠券不足!");
        }
    });



    function callAjax(inputs, url) {
        $.ajax({
            type: "POST",
            url: url,
            data: inputs,
            dataType: 'json',
            success: function (data) {
                if(data.result>=0)
                    location.href = "/member/index" ;
                else
                    alert("操作失败.错误码:"+data.result);
            }
        });
    }

    function callBalance(inputs, url) {
        $.ajax({
            type: "GET",
            url: url,
            data: inputs,
            dataType: 'json',
            success: function (data) {
                if(data.result>=0) {
                    alert("支付成功！金额: "+data.amount) ;
                    location.href = "/member/index";
                }
                else
                    alert("操作失败.错误码:"+data.result);
            }
        });
    }


    $(document).ready(function () {
        var current = [[${current}]];
//        console.log(current);
        var $pageList = $('a');
        if (current < 0 ) {
            $('#previous').attr("disabled", 'disabled');
        }
        $pageList.each(function () {
//            console.log($(this).text());
            if ($(this).text() == (current + 1)) {
//                console.log($(this).text());
                $(this).parent().addClass("active");
            }
        })

    });

</script>


</body>
</html>