<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1"/>-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../static/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/hotel.css" th:href="@{/css/hotel.css}"/>
    <link rel="stylesheet" href="../../static/css/other.css" th:href="@{/css/other.css}"/>
    <link rel="stylesheet" href="../../static/css/w3.css" th:href="@{/css/w3.css}"/>
    <title>Member Profile</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{index}">Tickets</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="redirect:/site/index.html" th:href="@{/site/index}">Site</a></li>
                <li><a href="index.html" th:href="@{index}">Records</a></li>
                <li><a href="statistics.html" th:href="@{statistics}">Statistics<span
                        class="sr-only">(current)</span></a></li>
                <li class="active"><a href="../member/profile.html" th:href="@{profile}">Profile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Welcome, Smith <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../user/index.html" th:href="@{/user/logout}">Sign out</a></li>
                        <li><a href="../user/register.html" th:href="@{/user/register}">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="mainpage">

    <div class="table-responsive">
        <table class="w3-table w3-bordered w3-striped w3-card-4">
            <tr>
                <th>项目</th>
                <th>信息</th>
            </tr>
            <tr>
                <td>用户ID</td>
                <td th:text="${member.userID}">0000001</td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td th:text="${member.email}">gakki@qq.com</td>
            </tr>
            <tr>
                <td>名称</td>
                <td th:text="${member.userName}">Gakki</td>
            </tr>
            <!--<tr>-->
                <!--<td>status</td>-->
                <!--<td th:text="(${member.status == 0}) ? 'Not Activated' : 'Activated'">Not Activated</td>-->
            <!--</tr>-->
            <tr>
                <td>余额</td>
                <td th:text="${member.balance}">9999</td>
            </tr>
            <!--<tr>-->
                <!--<td>Deposit</td>-->
                <!--<td th:text="${member.deposit}">0</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Remain Days</td>-->
                <!--<td th:text="${member.remainDays}">0</td>-->
            <!--</tr>-->
            <tr>
                <!--<td>Member Level</td>-->
                <td>等级</td>
                <td th:text="'level ' +  ${member.level}">3</td>
            </tr>
            <!--<tr>-->
                <!--<td>Points</td>-->
                <!--<td th:text="${member.points}">0</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>Register Date</td>-->
                <!--<td th:text="${member.registDate}">2011-2-13</td>-->
            <!--</tr>-->
            <tr>
            <!--<td>Accumulate Consumption</td>-->
            <td>消费总计</td>
            <td th:text="${member.consumption}">3500.00</td>
             </tr>

            <tr>
                <td>积分</td>
                <td th:text="${member.credit}">350</td>
            </tr>
            <tr>
                <td>优惠券</td>
                <td th:text="${member.benefit}">123</td>
            </tr>
            <tr  th:if="${member.accountID>0}">
                <td>支付宝账号</td>
                <td th:text="${member.accountID}">0510001</td>
            </tr>
            <tr  th:if="${member.accountID>0}">
                <td>支付宝余额</td>
                <td th:text="${member.accountBalance}">7888</td>
            </tr>
            <!--<tr>-->
                <!--<td>Discount</td>-->
                <!--<td th:text="'You can enjoy ' + ${member.discount}  + '% discount'">0</td>-->
            <!--</tr>-->
        </table>
    </div>
    <p style="margin-top: 10px">
        <button type="button" class="btn btn-info editButton" data-toggle="modal"
                data-target="#editModal">编辑个人信息
        </button>
        <button th:if="${member.accountID>0}" type="button" class="btn btn-primary rechargeButton" data-toggle="modal"
                data-target="#rechargeModal">余额充值
        </button>
        <button type="button" class="btn btn-success pointConvertButton" data-toggle="modal"
                data-target="#pointConvertModal">积分兑换优惠券
        </button>
        <button type="button" class="btn btn-danger deleteButton" data-toggle="modal"
                data-target="#deleteModal">冻结账号
        </button>
    </p>
</div>

<!--Edit按钮弹出内容-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑个人信息</h4>
            </div>

            <form class="form-horizontal" action="profile.html" th:action="@{/member/edit}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nameM" class="col-sm-2 control-label">名字</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="nameM" placeholder=""/>
                        </div>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label for="mailM" class="col-sm-2 control-label">Mail</label>-->
                        <!--<div class="col-sm-10">-->
                            <!--<input type="email" class="form-control" name="mail" id="mailM" placeholder="E-mail"/>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <label for="aID" class="col-sm-2 control-label">支付宝账号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="aID" id="aID"
                                   placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="aPwd" class="col-sm-2 control-label">支付宝密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="aPwd" id="aPwd"
                                   placeholder=""/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary edit">保存</button>
                </div>
            </form>


            <div class="err-msg"></div>
        </div>

    </div>

</div>

<!--Point Convert内容-->
<div class="modal fade" id="pointConvertModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">兑换</h4>
            </div>
            <form class="form-horizontal" action="profile.html" th:action="@{/member/convert}" method="post">
                <div class="modal-body">


                    <div class="form-group">
                        <label for="nameM" class="col-sm-2 control-label">总积分</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control"
                                   th:placeholder="${member.credit}" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="credit" class="col-sm-2 control-label">兑换优惠券</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="credit" id="credit"
                                   placeholder="1个积分可以兑换1元优惠券哦"/>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary convert">确定</button>
                </div>
            </form>


            <div class="err-msg"></div>
        </div>

    </div>

</div>

<!--Recharge内容-->
<div class="modal fade" id="rechargeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">给你的账户充值</h4>
            </div>
            <form class="form-horizontal" action="profile.html" th:action="@{/member/recharge}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">支付宝账号</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control"
                                   th:placeholder="${member.accountID}" readonly="readonly"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rechargeValue" class="col-sm-2 control-label">充值金额</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="rechargeValue" id="rechargeValue"
                                   placeholder="冲多少?"/>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary recharge">变得更强</button>
                </div>
            </form>


            <div class="err-msg"></div>
        </div>

    </div>

</div>

<!--Delete Account内容-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">冻结账号</h4>
            </div>
            <form class="form-horizontal" action="profile.html" th:action="@{/member/frozen}" method="post">
                <div class="modal-body">


                    <div class="form-group text-danger">
                        <p class="col-md-offset-2">确定冻结账号吗？此操作不能撤销！</p>

                    </div>
                    <div class="form-group">
                        <label for="passwordM" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="passwordM"
                                   placeholder="输入你的密码"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger delete">是的，我知道后果</button>
                </div>

            </form>

            <div class="err-msg"></div>
        </div>

    </div>

</div>


<!--Scripts-->
<script src="../../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    var $edit = $('#editModal');
    var $recharge = $('#rechargeModal');
    var $convert = $('#pointConvertModal');
    var $delete = $('#deleteModal');
    var inputs = [];
    var url = '';

    $('.edit').on('click' , function () {
        var name = $edit.find('input[name="name"]').val();
        var aID  = $edit.find('input[name="aID"]').val();
        var aPwd = $edit.find('input[name="aPwd"]').val();

        inputs = {name:name, aID:aID, aPwd:aPwd };
        url = '/member/edit';
        callAjax(inputs,url, false);
    });
    $('.recharge').on('click' , function () {
        var amount = $recharge.find('input[name="rechargeValue"]').val();
        inputs = {amount:amount};
        url = '/member/recharge';
        callAjax(inputs,url, false);
    });
    $('.convert').on('click' , function () {
        var credit = $convert.find('input[name="credit"]').val();
        inputs = {credit:credit};
        url = '/member/convert';
        callAjax(inputs,url, false);
    });
    $('.delete').on('click' , function () {
        var password = $delete.find('input[name="password"]').val();
        inputs = {password:password};
        url = '/member/froze';
        callAjax(inputs,url, true);
    });

    function callAjax(inputs, url, isdelete) {
        $.ajax({
            type: "POST",
            url: url,
            data: inputs,
            dataType: 'json',
            success: function (data) {
                if (data.result) {
                    if (isdelete) {
                        window.location.replace("http://localhost:4000/");
                    } else {
                        location.reload();
                        if (data.reason) {
                            $('.mainpage').append('<div class="alert alert-info alert-dismissible" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <strong>Great!</strong> ' +data.reason +  ' </div>');
                        }
                    }
                } else {
                    var error_msg = '<p class="errtip">	<strong>Error</strong>：'+data.reason+'</p>'
                    $(".err-msg").html(error_msg);
                }
            }
        });



    }


</script>
</body>
</html>